        h2{
            text-align: center;
            color: black;
        }
        .globale {
            display: flex;
            justify-content: space-around;

        }

        .blocgauche{
            width: 30%
          
        }
        .blocdroit{
            width: 50%;
        }
        .googlemap {
            width: 100%;
        }

        .adressesysincendie{
            color: white;
            font-size: larger;
            font-weight: bold;
            background-color: red; 
            text-align: center;            
         
        }
        .formulaire {
            color : white;
            font-weight: bold;
            background-color: red; 
            height: 77%;
            text-align: center;
            padding: 15px;
            margin-bottom: 90px;
          
        }

        button {
            color: red;
          
            
        }

        iframe{  
            width: 100%;
            margin: 25px;
            margin-left: 0;
        }
          
        .retourcontact{
            display: flex;
            justify-content: flex-end;
            margin-right: 31px;
            margin-top: -100px;
          }

        textarea {
            width: 280px;
            height: 170px;
           
        }

       