/*Footer*/
.site-footer {
  background-color: #838383;
	text-align: center;
	margin: 0px 0;
    padding: 0px 0;   
}

footer
{
position:fixed;
width:100%; 
bottom: 0px;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: 1;
	filter: alpha(opacity=60); 
  border-radius: 25px;
}
.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.foursquare-icon:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.footer-nav p {
	text-align: center;
}