header{
    background: red;
    height: 100px;

}

body{
    margin: 0;
    padding: 0; 
    background:rgb(228, 227, 227);
}

.barre{
  display: flex;
  justify-content: center;
}

h1{
    text-align: center;
    font-size: 70px;
    margin: 0;
    padding: 0;
}

#navigation{
    text-align: center;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#navigation li {
    display:inline-block;
    text-decoration:none;
    text-align: center;
}

#navigation img {
    z-index:1;
    width: 200px;
    border: 2px solid black;
}

#navigation h2 {
    position: absolute;
    z-index:20;
    width: 200px;
}

/*BTN Retour*/
.retour{
  display: flex;
  justify-content: flex-end;
  margin-right: 31px;
  margin-top: 125px;
  
}
/*BTN Panier*/
.buttonajouterpanier {
  margin-right: 100px;
  margin-top: 310px;
}
.buttonpanier{
  float: right;
  color: red;
  margin-right: 30px;
  margin-top: -19px;
}

/*Produit*/
#infoproduit{
  display: inline-flex;
  margin-left: 15px;
}

.imginfo img{
  border: 2px solid black;
  width: 310px;
  height: 310px;
}

/*Effet Flamme*/
.container{
  margin:80px auto;
  width: 60px;
  height: 60px;
  position:fixed;
  bottom: 7%;
  right: 50%;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flame{
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
}

.yellow{
  left:15px; 
  width: 30px;
  height: 30px;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange{
  left:10px; 
  width: 40px;
  height: 40px;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red{
  left:5px;
  width: 50px;
  height: 50px;
  background:OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white{
  left:15px; 
  bottom:-4px;
  width: 30px;
  height: 30px;
  background:white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle{
  border-radius: 50%;
  position:absolute;  
}

.blue{
  width: 10px;
  height: 10px;
  left:25px;
  bottom:-25px; 
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

.black{
  width: 40px;
  height: 40px;
  left:10px;
  bottom:-60px;  
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 10px rgb(255, 255, 255);
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}

